<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hello Millky</title>
</head>
<body>
	##<xmp>
	<h2>Hello! ${name}</h2>
	<div>Velocity version</div>
</body>
</html>